.register {
    position: relative;
    width: 1250px;
    display: none;
}

.registerArrow-up {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 15px solid #ECF0F1;
    left: 10%;
    position: absolute;
    top: -10px;
}

.registerFormholder {
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    padding-top: 5px;
}

.registerFormholder input[type="registerName"], .registerFormholder input[type="registerSurname"], .registerFormholder input[type="registerEmail"], .registerFormholder input[type="registerPassword"] {
    padding: 7px 5px;
    margin: 10px 0;
    width: 96%;
    display: block;
    font-size: 18px;
    border-radius: 5px;
    border: none;
    -webkit-transition: 0.3s linear;
    -moz-transition: 0.3s linear;
    -o-transition: 0.3s linear;
    transition: 0.3s linear;
}

.registerFormholder input[type="registerName"]:focus, .registerFormholder input[type="registerSurname"]:focus, .registerFormholder input[type="registerEmail"]:focus, .registerFormholder input[type="registerPassword"]:focus {
    outline: none;
    box-shadow: 0 0 1px 1px #1abc9c;
}

.registerFormholder input[type="button"] {
    background: #1abc9c;
    padding: 10px;
    font-size: 20px;
    display: block;
    width: 93%;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.registerFormholder input[type="button"]:hover {
    background: #1bc6a4;
}

.registerRandompad {
    padding: 10px;
}

.registerGreen {
    color: #1abc9c;
}
