* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: Sans-serif;
    background: #2c3e50;
}

#wrap {
    margin: 0 auto 15px;
    width: 100%;
}

#regbar {
    height: 67px;
    background: #34495e;
}

#navthing {
    margin-left: 25px;
}

h1{
    text-align: center;
}

h2 {
    padding-top: 20px;
    color: #ecf0f1;
}

fieldset {
    border: none;
}

a {
    color: #ecf0f1;
    text-decoration: none;
}

a:hover {
    color: #1abc9c;
}